RewriteEngine On
ErrorDocument 404 /cpue-website/public/404.php
RewriteBase /cpue-website/

# REGLA MAESTRA PARA CIUDADES Y COMITATOS
RewriteRule ^city/([^/]+)$ public/city.php?id=$1 [L,QSA]
RewriteRule ^comitato/([^/]+)$ public/comitato.php?id=$1 [L,QSA]

# Si es la raíz vacía, ir a public
RewriteRule ^$ public/ [L]

# El resto de archivos van a public
RewriteCond %{REQUEST_URI} !^/cpue-website/public/
RewriteRule ^(.*)$ public/$1 [L]

Options -Indexes